---
import Layout from '../layouts/Layout.astro';
import DarkSide from '../components/DarkSide.astro';
import LightSide from '../components/LightSide.astro';
---

<Layout title="Welcome to Astro.">
	<main class="flex">
		<LightSide/>
		<DarkSide/>
	</main>
</Layout>
