<article class="grid grid-cols-4 grid-rows-4 h-1/2 hover:text-black">
	<h1 class="text-black col-span-full h-full text-2xl ">Guido Offermans</h1>
	<p class="col-span-full text-2xl row-start-2 row-end-4">
		From psychology to code-lover. Hi, I'm Guido. I am a tranquil minded yet enthusiastic developer, eager to learn and dedicated to deliver the best experience. I'm experienced in developing full-stack applications and I love to discover new technologies or ideas and to dive into them. I currently live and work in Zurich, Switzerland.
		<br/>
		<br/>
		For inquiries or any questions, feel free to say hi, I'd love to hear from you!
	</p>
	<div class="col-span-full row-start-4 space-x-2">
		<a href="mailto:dev@guidooffermans.com">Email me</a>
		<a href="https://github.com/GuidoOffermans">GitHub</a>
		<a href="https://www.linkedin.com/in/guido-offermans">LinkedIn</a>
	</div>
</article>