<article class="grid grid-cols-4 grid-rows-4 h-1/2 hover:text-black">
	<h2 class="col-span-full h-10 text-2xl">Tech stack</h2>

		<ul class="col-span-full row-start-2 grid grid-cols-4 gap-y-4">
			<p class="col-start-1 col-end-2">Environments</p>
			<p class="col-start-2 col-end-5">
				Javascript, NODE.js, php, Wordpress/Woocommerce, GraphQL
			</p>

			<p class="col-start-1 col-end-2">Front-end</p>
			<p class="col-start-2 col-end-5">
				HTML/CSS/SCSS, ReactJS/Redux, NEXT.js, Tailwind, Vue.js
			</p>

			<p class="col-start-1 col-end-2">Back-end</p>
			<p class="col-start-2 col-end-5">
				Express, NEST.js REST API, SQL-databases (Postgres, mySql)
			</p>

			<p class="col-start-1 col-end-2">Tooling</p>
			<p class="col-start-2 col-end-5">
				Git/Github, Containerization with Docker, Unit-testing and End-to-End testing with Jest, Linting Code with Eslint and prettier, CI/CD with Travis and Jenkins, Webpack
			</p>

			<p class="col-start-1 col-end-2">Methodologies</p>
			<p class="col-start-2 col-end-5">
				Scrum and Agile, Domain Driven Design (DDD), Test Driven Design (TDD), JAM-stack
			</p>
		</ul>

</article>