<article class="grid grid-cols-4 grid-rows-4 h-1/2 group-hover:text-white">
	<h2 class="col-span-full h-10 text-2xl text-white/[.15] group-hover:text-white">
		Talented friends and collaborators
	</h2>
	
	<p class="col-span-full">
		I consider myself lucky to have a network of talented people, friends and collaborators around me. Find some listed here:
	</p>
	<ul>
		<li>5m2 collective</li>
		<li>Martina Holenstein</li>
	</ul>
</article>