---
import Collabs from "./Collabs.astro";
import Interests from "./Interests.astro";
---

<section class="bg-black text-white/[0] w-1/2 h-screen px-4 py-2.5 opacity-90 hover:opacity-90 group">
	<Interests/>
	<Collabs/>
</section>