---
const today = new Date();
---

<footer class="mx-auto mt-auto pt-20 w-full max-w-3xl pb-3 px-4">
    <p
        class="font-mono recursive text-xs tracking-[0.09em] md:tracking-[0.08em] leading-[18px] md:leading-[30px] uppercase"
    >
        &copy; {today.getFullYear()} Guido Offermans. All rights reserved. website
        built with astro.build
    </p>
</footer>
