<article class="grid grid-cols-4 grid-rows-4 h-1/2 group-hover:text-white">
	<h2 class="col-span-full h-10 text-2xl text-white/[.15] group-hover:text-white">Interests</h2>
	
	<ul class="col-span-full row-start-2 grid grid-cols-4 gap-y-4">
		<p class="col-start-1 col-end-2">Kubernetes</p>
		<p class="col-start-2 col-end-5">
			short intro about is to come
		</p>

		<p class="col-start-1 col-end-2">React</p>
		<p class="col-start-2 col-end-5">
			short intro about is to come
		</p>

		<p class="col-start-1 col-end-2">Domain Driven Development</p>
		<p class="col-start-2 col-end-5">
			short intro about is to come
		</p>
	</ul>

</article>