---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";

import "../styles/main.css";
---

<!doctype html>
<html lang="en" class="h-screen">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body
        x-data="{ expanded: false }"
        x-bind:class="expanded ? 'overflow-hidden' : ''"
        class="flex h-full flex-col bg-white text:black dark:bg-go-dark dark:text-white font-sans"
    >
        <main
            class="mr-auto flex w-full max-w-5xl grow flex-col pl-4 pt-2 md:pl-6 md:pt-5"
        >
            <slot />
        </main>
        <Footer />
    </body>
</html>
