---
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Header from "../components/Header.astro";
import BaseHead from "../components/BaseHead.astro";
import MobileMenu from "../components/MobileMenu.astro";
import Footer from "../components/Footer.astro";

import "../styles/main.css";
---

<!doctype html>
<html lang="en" class="h-screen">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <!--<BaseHead title={title} description={description} />-->
    </head>
    <body
        x-data="{ expanded: false }"
        x-bind:class="expanded ? 'overflow-hidden' : ''"
        class="flex h-full flex-col bg-white text:black dark:bg-go-dark dark:text-white font-sans"
    >
        <Header />
        <MobileMenu />
        <main class="mx-auto flex w-full max-w-3xl grow flex-col px-4">
            <slot />
        </main>
        <Footer />
    </body>
</html>
